### 파이썬 버전별 변동사항

    Python 3.5: async await
    Python 3.6: Dict에 순서, f-string, 타입힌트
    Python 3.7: dataclasses
    Python 3.8: 왈러스 연산자(:=)
    Python 3.9: 딕셔너리 결합 연산자(|)
    Python 3.10: match

In [ ]:
# id, name, email이 각각 3번씩 반복
# -> 이러한 현상을 보일러 플레이트(boiler-plate)라 함
# -> print를 해도 필드값이 보이지 않아 불편

class User:
    def __init__(self, id, name, email):
        self.id = id
        self.name = name
        self.email = email

In [ ]:
from dataclasses import dataclass

@dataclass
class User:
    id: int
    name: str
    email : str

user = User(123, 'hojun', 'hojun@gmail')
user

User(id=123, name='hojun', email='hojun@gmail')

In [ ]:
x = {"key1": "value1"}
y = {"key2": "value2"}
z = x | y
z

{'key1': 'value1', 'key2': 'value2'}

### 파일 입출력

- **`'r'`**: 읽기 모드. 파일을 읽기만 할 때 사용합니다. 파일이 존재하지 않으면 오류가 발생합니다.
- **`'w'`**: 쓰기 모드. 파일에 쓸 때 사용합니다. 파일이 이미 존재하면 내용을 지우고 새로 쓰기 시작합니다. 파일이 존재하지 않으면 새로운 파일을 생성합니다.
- **`'a'`**: 추가 모드. 파일의 마지막에 새로운 내용을 추가할 때 사용합니다. 파일이 존재하지 않으면 새로운 파일을 생성합니다.
- **`'r+'`**: 읽기와 쓰기 모드. 파일을 열 때 기존의 내용을 보존합니다. 파일을 열 때 포인터가 가장 앞에 있습니다.
- **`'w+'`**: 읽기와 쓰기 모드. 파일을 열 때 기존의 내용을 삭제합니다. 다만 열어서 쓴 내용은 읽을 수 있습니다.
- **`'a+'`**: 읽기와 추가 모드. 파일을 열 때 포인터가 가장 뒤에 가 있습니다.

In [ ]:
# open(파일이름, 파일모드)

f = open('python.txt', 'w') # 파일모드 : r, w, a, r+,
f.close()

In [ ]:
# 파일은 열었으면 꼭 닫아야 함
# 닫지 않으면 메모리가 살아있음

f = open('python.txt', 'w') # 파일모드 : r, w, a, r+,
f.write('hello world')
f.close()

In [ ]:
with open('test.txt', 'w') as f:
    f.write('hello world!')

In [ ]:
for i in range(10):
    with open(f'test{i}.txt', 'w') as f:
        f.write('hello world!')

In [ ]:
db_data = [
  {
    "_id": "7f5440ab-7e2f-4a42-Be13-89987fa65b32",
    "index": "1",
    "name": "등윤상",
    "email": "user-qe89s09@ut.io",
    "phone": "010-3542-7711",
    "country": "키리바시",
    "address": "방학로 74-9",
    "job": "일러스트레이터"
  },
  {
    "_id": "b4f7ade0-38bb-4e6f-B94a-18af1426eb30",
    "index": "2",
    "name": "노동규",
    "email": "user-nyr5mqw@ornare.com",
    "phone": "010-9743-6320",
    "country": "베냉",
    "address": "남부순환로 54-6",
    "job": "애완동물미용사"
  },
  {
    "_id": "5d788255-8d5e-4f03-B446-dbac6a147e37",
    "index": "3",
    "name": "경진아",
    "email": "user-n7pey4v@Etiam.biz",
    "phone": "010-4049-8718",
    "country": "아르메니아",
    "address": "강남대로 87-5",
    "job": "플로리스트"
  },
  {
    "_id": "083efce4-17ed-4e9f-Ad7c-f9aa0ac6cb79",
    "index": "4",
    "name": "복소유",
    "email": "user-ohaz2is@nibh.biz",
    "phone": "010-3400-5945",
    "country": "페루",
    "address": "양산로 78-1",
    "job": "응급구조사"
  },
  {
    "_id": "d54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a",
    "index": "5",
    "name": "화예빈",
    "email": "user-mnkpdlp@vel.net",
    "phone": "010-3120-8720",
    "country": "허드 및 맥도널드 제도",
    "address": "한남대로 6-2",
    "job": "전문의사"
  }
]

`미션 1`
    
    각각의 회원 이름_info.txt로 각각 정보 정리

`미션 2`

    엑셀로 각각 정보 정리

`미션 3`

    html로 table로 정리하기 => table 클릭하면 정렬되게 하기

In [ ]:
# 미션 1
# 각각의 회원 이름_info.txt로 각각 정보 정리

list(map(lambda x: x['name'], db_data))

for i, name in enumerate(map(lambda x: x['name'], db_data)):
    with open(f'{name}_info.txt', 'w') as f:
        f.write(str(db_data[i]))

In [ ]:
from bs4 import BeautifulSoup
import json

soup = BeautifulSoup(str(db_data), 'html.parser')
# json_data = json.loads(soup.text)
# json_data

In [ ]:
# 미션 2
# 엑셀로 각각 정보 정리

# "_id": "d54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a",
# "index": "5",
# "name": "화예빈",
# "email": "user-mnkpdlp@vel.net",
# "phone": "010-3120-8720",
# "country": "허드 및 맥도널드 제도",
# "address": "한남대로 6-2",
# "job": "전문의사"

with open('data.csv', 'w') as f:
    s = '아이디,인덱스,이름,이메일,휴대폰,나라,주소,직업\n'
    for i in db_data:
        s += f'{i["_id"]},{i["index"]},{i["name"]},{i["email"]},{i["phone"]},{i["country"]},{i["address"]},{i["job"]}\n'
    f.write(s)

In [ ]:
!pip3 install xlsxwriter

Collecting xlsxwriter
  Downloading XlsxWriter-3.1.9-py3-none-any.whl (154 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 154.8/154.8 kB 3.2 MB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.1.9

In [ ]:
# request나 bs4 기본 모듈 아닌데 colab에 깔려 있는 것
# 데스크톱에서 깔려있는지 확인하시지 않고 실행시키면 모듈이 없다고 나옴

In [ ]:
# 워크북(엑셀파일 1개)
# 워크시트(sheet이라고 아래 여러개의 sheet을 만들 수 있음)
# 셀(네모 칸 하나)

In [ ]:
import xlsxwriter

workbook = xlsxwriter.Workbook('hello.xlsx')
worksheet = workbook.add_worksheet('test')

worksheet.write('A1', 'A')
worksheet.write('B1', 'B')
worksheet.write('C1', 'C')
worksheet.write('A2', 'D')
worksheet.write('B2', 'E')
worksheet.write('C2', 'F')

worksheet.write(2, 0, 'hello')
worksheet.write(2, 1, 'world')
worksheet.write(2, 2, 'hojun')

workbook.close()

In [ ]:
import xlsxwriter

workbook = xlsxwriter.Workbook('hello.xlsx')
worksheet = workbook.add_worksheet('test')

철수 = [10, 20, 30]
영희 = [40, 50, 60]

worksheet.write('A1', '국')
worksheet.write('B1', '영')
worksheet.write('C1', '수')
worksheet.write('A2', 철수[0])
worksheet.write('B2', 철수[1])
worksheet.write('C2', 철수[2])
worksheet.write('A3', 영희[0])
worksheet.write('B3', 영희[1])
worksheet.write('C3', 영희[2])

for i in zip('ABC', 철수, 영희):
    worksheet.write(f'{i[0]}4', i[1] + i[2])

workbook.close()

In [ ]:
for i in zip('ABC', 철수, 영희):
    print(f'{i[0]}4', i[1] + i[2])

A4 50
B4 70
C4 90

In [ ]:
import xlsxwriter

workbook = xlsxwriter.Workbook('hello.xlsx')
worksheet = workbook.add_worksheet('test')

철수 = [10, 20, 30]
영희 = [40, 50, 60]

worksheet.write('A1', '국')
worksheet.write('B1', '영')
worksheet.write('C1', '수')
worksheet.write('A2', 철수[0])
worksheet.write('B2', 철수[1])
worksheet.write('C2', 철수[2])
worksheet.write('A3', 영희[0])
worksheet.write('B3', 영희[1])
worksheet.write('C3', 영희[2])

for i in zip('ABC', 철수, 영희):
    worksheet.write(f'{i[0]}4', i[1] + i[2])

# D1에 평균 텍스트 삽입
worksheet.write('D1', '평균')
# 수식 삽입
worksheet.write('D2', '=SUM(A2:C2)/3')
worksheet.write('D3', '=SUM(A3:C3)/3')

workbook.close()

In [ ]:
# 크롤링
# 웹크롤링 -> 엑셀
# 한글파일 크롤링 -> 엑셀
# PDF 크롤링 -> 엑셀

# 파일 형식 변환
# CSV => xlsx
# JSON => xlsx

# 메크로
# 메크로 작동 로직 => 엑셀

In [ ]:
# 미션 3
# html로 table로 정리하기

db_data = [
  {
    "_id": "7f5440ab-7e2f-4a42-Be13-89987fa65b32",
    "index": "1",
    "name": "등윤상",
    "email": "user-qe89s09@ut.io",
    "phone": "010-3542-7711",
    "country": "키리바시",
    "address": "방학로 74-9",
    "job": "일러스트레이터"
  },
  {
    "_id": "b4f7ade0-38bb-4e6f-B94a-18af1426eb30",
    "index": "2",
    "name": "노동규",
    "email": "user-nyr5mqw@ornare.com",
    "phone": "010-9743-6320",
    "country": "베냉",
    "address": "남부순환로 54-6",
    "job": "애완동물미용사"
  },
  {
    "_id": "5d788255-8d5e-4f03-B446-dbac6a147e37",
    "index": "3",
    "name": "경진아",
    "email": "user-n7pey4v@Etiam.biz",
    "phone": "010-4049-8718",
    "country": "아르메니아",
    "address": "강남대로 87-5",
    "job": "플로리스트"
  },
  {
    "_id": "083efce4-17ed-4e9f-Ad7c-f9aa0ac6cb79",
    "index": "4",
    "name": "복소유",
    "email": "user-ohaz2is@nibh.biz",
    "phone": "010-3400-5945",
    "country": "페루",
    "address": "양산로 78-1",
    "job": "응급구조사"
  },
  {
    "_id": "d54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a",
    "index": "5",
    "name": "화예빈",
    "email": "user-mnkpdlp@vel.net",
    "phone": "010-3120-8720",
    "country": "허드 및 맥도널드 제도",
    "address": "한남대로 6-2",
    "job": "전문의사"
  }
]

In [ ]:
db_data

[{'_id': '7f5440ab-7e2f-4a42-Be13-89987fa65b32',
  'index': '1',
  'name': '등윤상',
  'email': 'user-qe89s09@ut.io',
  'phone': '010-3542-7711',
  'country': '키리바시',
  'address': '방학로 74-9',
  'job': '일러스트레이터'},
 {'_id': 'b4f7ade0-38bb-4e6f-B94a-18af1426eb30',
  'index': '2',
  'name': '노동규',
  'email': 'user-nyr5mqw@ornare.com',
  'phone': '010-9743-6320',
  'country': '베냉',
  'address': '남부순환로 54-6',
  'job': '애완동물미용사'},
 {'_id': '5d788255-8d5e-4f03-B446-dbac6a147e37',
  'index': '3',
  'name': '경진아',
  'email': 'user-n7pey4v@Etiam.biz',
  'phone': '010-4049-8718',
  'country': '아르메니아',
  'address': '강남대로 87-5',
  'job': '플로리스트'},
 {'_id': '083efce4-17ed-4e9f-Ad7c-f9aa0ac6cb79',
  'index': '4',
  'name': '복소유',
  'email': 'user-ohaz2is@nibh.biz',
  'phone': '010-3400-5945',
  'country': '페루',
  'address': '양산로 78-1',
  'job': '응급구조사'},
 {'_id': 'd54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a',
  'index': '5',
  'name': '화예빈',
  'email': 'user-mnkpdlp@vel.net',
  'phone': '010-3120-8720',
  'country': '허드 및 맥도널드 제도',
  'address': '한남대로 6-2',
  'job': '전문의사'}]

In [ ]:
s = '''
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid black;
    }
    tr, td, th {
        border: 1px solid black;
    }
</style>
<table>
    <tr>
        <th>아이디</th>
        <th>인덱스</th>
        <th>이름</th>
        <th>이메일</th>
        <th>휴대폰</th>
        <th>나라</th>
        <th>주소</th>
        <th>직업</th>
    </tr>
'''

for item in db_data:
    s += f'''
        <tr>
                <td>{item["_id"]}</td>
                <td>{item["index"]}</td>
                <td>{item["name"]}</td>
                <td>{item["email"]}</td>
                <td>{item["phone"]}</td>
                <td>{item["country"]}</td>
                <td>{item["address"]}</td>
                <td>{item["job"]}</td>
        </tr>
        '''
s += '</table>'

with open('test.html', 'w') as f:
    f.write(s)

In [ ]:
4s

'\n<style>\n    table {\n        border-collapse: collapse;\n        width: 100%;\n        border: 1px solid black;\n    }\n    tr, td, th {\n        border: 1px solid black;\n    }\n</style>\n<table>\n    <tr>\n        <th>아이디</th>\n        <th>인덱스</th>\n        <th>이름</th>\n        <th>이메일</th>\n        <th>휴대폰</th>\n        <th>나라</th>\n        <th>주소</th>\n        <th>직업</th>\n    </tr>\n\n        <tr>\n                <td>7f5440ab-7e2f-4a42-Be13-89987fa65b32</td>\n                <td>1</td>\n                <td>등윤상</td>\n                <td>user-qe89s09@ut.io</td>\n                <td>010-3542-7711</td>\n                <td>키리바시</td>\n                <td>방학로 74-9</td>\n                <td>일러스트레이터</td>\n        </tr>\n        \n        <tr>\n                <td>b4f7ade0-38bb-4e6f-B94a-18af1426eb30</td>\n                <td>2</td>\n                <td>노동규</td>\n                <td>user-nyr5mqw@ornare.com</td>\n                <td>010-9743-6320</td>\n                <td>베냉</td>\n                <td>남부순환로 54-6</td>\n                <td>애완동물미용사</td>\n        </tr>\n        \n        <tr>\n                <td>5d788255-8d5e-4f03-B446-dbac6a147e37</td>\n                <td>3</td>\n                <td>경진아</td>\n                <td>user-n7pey4v@Etiam.biz</td>\n                <td>010-4049-8718</td>\n                <td>아르메니아</td>\n                <td>강남대로 87-5</td>\n                <td>플로리스트</td>\n        </tr>\n        \n        <tr>\n                <td>083efce4-17ed-4e9f-Ad7c-f9aa0ac6cb79</td>\n                <td>4</td>\n                <td>복소유</td>\n                <td>user-ohaz2is@nibh.biz</td>\n                <td>010-3400-5945</td>\n                <td>페루</td>\n                <td>양산로 78-1</td>\n                <td>응급구조사</td>\n        </tr>\n        \n        <tr>\n                <td>d54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a</td>\n                <td>5</td>\n                <td>화예빈</td>\n                <td>user-mnkpdlp@vel.net</td>\n                <td>010-3120-8720</td>\n                <td>허드 및 맥도널드 제도</td>\n                <td>한남대로 6-2</td>\n                <td>전문의사</td>\n        </tr>\n        </table>'

### 파일 읽기

In [ ]:
# 1. readline()

f = open('test.html', 'r')
while True:
    line = f.readline()
    if not line:
        break
    print(line, end='')
f.close()

# 아래 출력 결과에서 개행이 2번씩 되는 이유는 print에 end가 \n이기 때문
# print(line, end='')이면 개행을 한 번씩 하게 됨

<style>
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid black;
    }
    tr, td, th {
        border: 1px solid black;
    }
</style>
<table>
    <tr>
        <th>아이디</th>
        <th>인덱스</th>
        <th>이름</th>
        <th>이메일</th>
        <th>휴대폰</th>
        <th>나라</th>
        <th>주소</th>
        <th>직업</th>
    </tr>

        <tr>
                <td>7f5440ab-7e2f-4a42-Be13-89987fa65b32</td>
                <td>1</td>
                <td>등윤상</td>
                <td>user-qe89s09@ut.io</td>
                <td>010-3542-7711</td>
                <td>키리바시</td>
                <td>방학로 74-9</td>
                <td>일러스트레이터</td>
        </tr>

        <tr>
                <td>b4f7ade0-38bb-4e6f-B94a-18af1426eb30</td>
                <td>2</td>
                <td>노동규</td>
                <td>user-nyr5mqw@ornare.com</td>
                <td>010-9743-6320</td>
                <td>베냉</td>
                <td>남부순환로 54-6</td>
                <td>애완동물미용사</td>
        </tr>

        <tr>
                <td>5d788255-8d5e-4f03-B446-dbac6a147e37</td>
                <td>3</td>
                <td>경진아</td>
                <td>user-n7pey4v@Etiam.biz</td>
                <td>010-4049-8718</td>
                <td>아르메니아</td>
                <td>강남대로 87-5</td>
                <td>플로리스트</td>
        </tr>

        <tr>
                <td>083efce4-17ed-4e9f-Ad7c-f9aa0ac6cb79</td>
                <td>4</td>
                <td>복소유</td>
                <td>user-ohaz2is@nibh.biz</td>
                <td>010-3400-5945</td>
                <td>페루</td>
                <td>양산로 78-1</td>
                <td>응급구조사</td>
        </tr>

        <tr>
                <td>d54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a</td>
                <td>5</td>
                <td>화예빈</td>
                <td>user-mnkpdlp@vel.net</td>
                <td>010-3120-8720</td>
                <td>허드 및 맥도널드 제도</td>
                <td>한남대로 6-2</td>
                <td>전문의사</td>
        </tr>
        </table>

In [ ]:
# 2. readlines()

f = open('test.html', 'r')
lines = f.readlines()
for line in lines:
    print(line)
f.close()

# readline은 파일의 텍스트 한 줄을 읽어오지만, readlines는 전체 라인을 읽어옴

<style>

    table {

        border-collapse: collapse;

        width: 100%;

        border: 1px solid black;

    }

    tr, td, th {

        border: 1px solid black;

    }

</style>

<table>

    <tr>

        <th>아이디</th>

        <th>인덱스</th>

        <th>이름</th>

        <th>이메일</th>

        <th>휴대폰</th>

        <th>나라</th>

        <th>주소</th>

        <th>직업</th>

    </tr>



        <tr>

                <td>7f5440ab-7e2f-4a42-Be13-89987fa65b32</td>

                <td>1</td>

                <td>등윤상</td>

                <td>user-qe89s09@ut.io</td>

                <td>010-3542-7711</td>

                <td>키리바시</td>

                <td>방학로 74-9</td>

                <td>일러스트레이터</td>

        </tr>



        <tr>

                <td>b4f7ade0-38bb-4e6f-B94a-18af1426eb30</td>

                <td>2</td>

                <td>노동규</td>

                <td>user-nyr5mqw@ornare.com</td>

                <td>010-9743-6320</td>

                <td>베냉</td>

                <td>남부순환로 54-6</td>

                <td>애완동물미용사</td>

        </tr>



        <tr>

                <td>5d788255-8d5e-4f03-B446-dbac6a147e37</td>

                <td>3</td>

                <td>경진아</td>

                <td>user-n7pey4v@Etiam.biz</td>

                <td>010-4049-8718</td>

                <td>아르메니아</td>

                <td>강남대로 87-5</td>

                <td>플로리스트</td>

        </tr>



        <tr>

                <td>083efce4-17ed-4e9f-Ad7c-f9aa0ac6cb79</td>

                <td>4</td>

                <td>복소유</td>

                <td>user-ohaz2is@nibh.biz</td>

                <td>010-3400-5945</td>

                <td>페루</td>

                <td>양산로 78-1</td>

                <td>응급구조사</td>

        </tr>



        <tr>

                <td>d54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a</td>

                <td>5</td>

                <td>화예빈</td>

                <td>user-mnkpdlp@vel.net</td>

                <td>010-3120-8720</td>

                <td>허드 및 맥도널드 제도</td>

                <td>한남대로 6-2</td>

                <td>전문의사</td>

        </tr>

        </table>

In [ ]:
# 3. read()

f = open('test.html', 'r')
data = f.read()
print(data)
f.close()

# 파일의 전체 내용을 읽어올 수 있음

<style>
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid black;
    }
    tr, td, th {
        border: 1px solid black;
    }
</style>
<table>
    <tr>
        <th>아이디</th>
        <th>인덱스</th>
        <th>이름</th>
        <th>이메일</th>
        <th>휴대폰</th>
        <th>나라</th>
        <th>주소</th>
        <th>직업</th>
    </tr>

        <tr>
                <td>7f5440ab-7e2f-4a42-Be13-89987fa65b32</td>
                <td>1</td>
                <td>등윤상</td>
                <td>user-qe89s09@ut.io</td>
                <td>010-3542-7711</td>
                <td>키리바시</td>
                <td>방학로 74-9</td>
                <td>일러스트레이터</td>
        </tr>

        <tr>
                <td>b4f7ade0-38bb-4e6f-B94a-18af1426eb30</td>
                <td>2</td>
                <td>노동규</td>
                <td>user-nyr5mqw@ornare.com</td>
                <td>010-9743-6320</td>
                <td>베냉</td>
                <td>남부순환로 54-6</td>
                <td>애완동물미용사</td>
        </tr>

        <tr>
                <td>5d788255-8d5e-4f03-B446-dbac6a147e37</td>
                <td>3</td>
                <td>경진아</td>
                <td>user-n7pey4v@Etiam.biz</td>
                <td>010-4049-8718</td>
                <td>아르메니아</td>
                <td>강남대로 87-5</td>
                <td>플로리스트</td>
        </tr>

        <tr>
                <td>083efce4-17ed-4e9f-Ad7c-f9aa0ac6cb79</td>
                <td>4</td>
                <td>복소유</td>
                <td>user-ohaz2is@nibh.biz</td>
                <td>010-3400-5945</td>
                <td>페루</td>
                <td>양산로 78-1</td>
                <td>응급구조사</td>
        </tr>

        <tr>
                <td>d54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a</td>
                <td>5</td>
                <td>화예빈</td>
                <td>user-mnkpdlp@vel.net</td>
                <td>010-3120-8720</td>
                <td>허드 및 맥도널드 제도</td>
                <td>한남대로 6-2</td>
                <td>전문의사</td>
        </tr>
        </table>

### 내용 수정

In [ ]:
f = open('test.html', 'a')
s = '<p>hello world!</p>'
f.write(s)
f.close()

s

'<p>hello world!</p>'

In [ ]:
# 파일 열기와 닫기를 동시에

with open('test.html', 'w') as f:
    f.write('hello world!')